/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(4,4,37,1) 35%, rgba(72,93,97,1) 100%);
}